a {
  display: inline-block;
}

img {
  vertical-align: bottom;
}

.button:hover {
  color: #333;
  transition: 0.3s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.header__inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header__icon {
  color: #dedede;
}

.fa-bolt {
  color: gray;
}

.main__top {
  background-color: #f2f2f2;
  width: 100%;
  margin-top: 70px;
}

.main__top__text-box {
  text-align: center;
}

.main__top__main-text {
  font-weight: 700;
  color: #74cfae;
}

.main__top__sub-text {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.main__secondary {
  background-color: #74cfae;
  width: 100%;
}

.main__secondary__title {
  font-size: 24px;
  font-family:"Raleway", sans-serif;
}

.main__secondary__text {
  margin-top: 35px;
  font-size: 20px;
  line-height: 30px;
}

.main__works {
  background-color: #f2f2f2;
  width: 100%;
  padding: 60px 0 70px;
}

.main__works__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  font-family:"Raleway", sans-serif;
}

.main__works__img-box a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.e-mail-btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
}

.main__skills {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}

.main__skills__title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.main__skills__img-text {
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding-top: 20px;
}

.nav {
  background-color: #f2f2f2;
  width: 100%;
}

.sns-icons  {
  text-align: center;
}

.sns-btn:hover {
  cursor: pointer;
  background-color: #fff;
  transition: .3s;
}

.footer {
  background-color: #74cfae;
  width: 100%;
  padding: 20px 0 25px;
}

.footer-text {
  font-size: 16px;
  color: #fff;
  text-align: right;
}

@media screen and (min-width:1200px) {
  .inner {
    max-width: 1100px;
    margin: 0 auto;
  }

  .header__contact-text {
    background-color: #74cfae;
    padding: 14px 12px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
  }

  .main__top {
    padding: 250px 0;
  }

  .main__top__main-text {
    font-size: 90px;
  }

  .main__secondary__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main__secondary__img {
    margin-top: 50px;
  }

  .main__secondary__text-box {
    text-align: center;
    color: #fff;
    width: 780px;
  }

  .main__works__img-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .main__works__img {
    margin-top: 80px;
  }

  .main__works__img:nth-child(-n+3) {
    margin-top: 0px;
  }

  .main__works__text-box {
    display: flex;
    align-items: center;
  }

  .main__works__text {
    font-size: 20px;
    margin: 90px 90px 0;
    text-align: center;
  }

  .main__skills__img-box {
    display: inline-block;
  }

  .main__skills__img {
    display: inline-block;
    margin-left: 180px;
  }

  .main__skills__img:first-of-type {
    margin-left: 0;
  }

  .sns__content {
    padding: 200px 0;
  }

  .sns-box {
    display: flex;
    justify-content: center;
  }

  .sns-btn {
    color: #74cfae;
    width:185px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

@media screen and (min-width:767px) and (max-width:1199px) {
  .inner {
    max-width: 97%;
    margin: 0 auto;
  }

  .header__contact-text {
    background-color: #74cfae;
    padding: 14px 12px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
  }

  .main__top {
    padding: 250px 0;
  }

  .main__top__main-text {
    font-size: 90px;
  }

  .main__secondary__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0px 25px;
  }

  .main__secondary__text-box {
    color: #fff;
    margin: 20px auto 0;
  }

  .main__works__img-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .main__works__img:nth-child(4) {
    margin-top: 80px;
  }

  .main__works__text-box {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
  }

  .main__works__text {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .main__skills__img-box {
    text-align: center;
  }

  .main__skills__img {
    margin-top: 88px;
  }

  .main__skills__img:first-of-type {
    margin-top: 0;
  }

  .sns__content {
    padding: 200px 0;
  }

  .sns-box {
    display: flex;
    justify-content: center;
  }

  .sns-btn {
    color: #74cfae;
    width:25%;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

@media screen and (max-width:766px) {
  .inner {
    max-width: 97%;
    margin: 0 auto;
  }

  .header__contact-text {
    display: none;
  }

  .header__contact {
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .hamburger-border {
    margin-top: 4px;
    width: 24px;
    height: 2px;
    background-color: #ddd;
    display: block;
    box-sizing: border-box;
  }

  .hamburger-border:first-of-type {
    margin-top: 0px;
  }

  .main__top {
    padding: 160px 0 130px;
  }

  .main__top__main-text {
    font-size: 80px;
  }

  .main__secondary__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0px 25px;
  }

  .main__secondary__text-box {
    color: #fff;
    width: 300px;
    margin: 20px auto 0;
  }

  .main__works__img-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .main__works__img:nth-child(4) {
    margin-top: 80px;
  }

  .main__works__text-box {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
  }

  .main__works__text {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .main__skills__img-box {
    text-align: center;
  }

  .main__skills__img {
    margin-top: 88px;
  }

  .main__skills__img:first-of-type {
    margin-top: 0;
  }

  .sns__content {
    padding: 50px 0;
  }

  .sns-btn {
    color: #74cfae;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
